body {
    font-family: monospace;
}

table {
    border-spacing: 0;
}

td, th {
    padding: 0 2em 0 0;
    white-space: nowrap;
}

td.button {
    padding-right: 1em;
}

a {
    text-decoration: none;
    color: DarkBlue;
}

.button a {
    color: Gray;
}
