<!doctype html>
<!-- vim: set ft=liquid: -->
<head>
    <title>Queue #{{ queueid }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<ul>
    <li>user: <a href="{{ url_for('user', username=username) }}">{{ username}}</a></li>
</ul>
<table>
    <tr>
        <th>State</th>
        <th>Last changed</th>
        <th>Caller</th>
        <th>Label</th>
        <th>Task</th>
    </tr>
    {% for label, task, state, last_changed, caller, taskid in tasks %}
        <tr>
            <td>{{ state }}</td>
            <td class="button">
                <a href="{{ url_for('reset_task', username=username, queueid=queueid, taskid=taskid) }}">RESET</a>
            </td>
            <td>{{ last_changed }}</td>
            <td>{{ caller }}</td>
            <td>{{ label }}</td>
            <td>{{ task }}</td>
        </tr>
    {% endfor %}
</table>
